<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.m15.cn.goshopping">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".base.GSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.MainActivity"></activity>
        <activity android:name=".activity.scan.ScanActivity">
            <intent-filter>
                <action android:name="android.intent.action.SCAN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.search.SearchActivity"/>
        <activity android:name=".fragment.me.MyLoveActivity"/>
        <activity android:name=".fragment.me.HelpActivity"/>
        <activity android:name=".fragment.sort.GoodsActivity"/>
        <activity android:name=".fragment.sort.GoodsDetialActivity"/>
        <activity android:name=".fragment.me.LoginActivity" />
        <activity android:name=".fragment.me.CarActivity"/>
        <activity android:name=".fragment.me.OrderActivity"/>
    </application>

</manifest>